Repository kessotolo/ConversationalCommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @architecture-team, @core-team, @merchant-pm, @buyer-pm, @conversation-pm, @orders-pm, @platform-pm, @docs-team

Add buyer profile endpoints and tests
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/buyer_profile.py
  backend/app/api/v1/endpoints/notification_preferences.py
  backend/docs/api/buyer_profile.md
  backend/tests/api/test_buyer_profile.py
Owners: none

Add buyer orders page and API
  frontend/src/lib/api/orderHistory.ts
  frontend/src/pages/account/index.tsx
  frontend/src/pages/account/orders.tsx
Owners: none

Add user profile management page
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/profile.ts
  frontend/src/modules/order/components/CheckoutForm.tsx
  frontend/src/pages/account/profile.tsx
Owners: @orders-pm

Add address book API tests
  backend/tests/api/test_address_book.py
Owners: none

chore: remove obsolete .bak test file
  backend/tests/conftest.py.bak
Owners: none

refactor: use async sessions
  backend/app/api/v1/endpoints/address_book.py
  backend/app/api/v1/endpoints/notification_preferences.py
  backend/app/api/v1/endpoints/saved_payment_method.py
  backend/tests/api/test_create_order.py
  backend/tests/fixtures/api.py
Owners: @orders-pm

Add buyer orders endpoint and tests
  backend/app/api/v1/api.py
  backend/app/api/v1/api_router.py
  backend/app/api/v1/endpoints/buyer_orders.py
  backend/app/services/order_query_service.py
  backend/app/services/order_service.py
  backend/tests/api/test_buyer_orders.py
Owners: none

Convert notification preferences endpoints to async SQLAlchemy patterns
  backend/app/api/v1/endpoints/notification_preferences.py
Owners: none

Fix tenant middleware session visibility in tests by unifying DB sessions
  backend/app/api/v1/endpoints/products.py
  backend/app/services/product_service.py
  backend/tests/api/test_products_parameterized.py
  backend/tests/fixtures/api.py
Owners: none

Implement complete return/refund processing system
  backend/app/models/returns.py
  backend/app/repositories/return_repository.py
  backend/app/schemas/returns.py
  backend/app/services/refund_calculation_service.py
  backend/app/services/refund_processing_service.py
  backend/app/services/return_notification_service.py
  backend/app/services/return_service.py
  docs/architecture/module-dependencies.md
  docs/architecture/phase3-features.md
  frontend/src/modules/returns/components/ReturnItemSelector.tsx
  frontend/src/modules/returns/components/ReturnReasonSelector.tsx
  frontend/src/modules/returns/components/ReturnStatusTracker.tsx
  frontend/src/modules/returns/components/seller/ReturnApprovalDashboard.tsx
  frontend/src/modules/returns/models/return.ts
  frontend/src/modules/returns/services/ReturnService.ts
Owners: @docs-team

Refactor ShippingSettings to Material UI and fix TypeScript errors
  frontend/src/modules/settings/components/domains/ShippingSettings.tsx
Owners: none

Add monitoring components and security features
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/components/monitoring/AlertConfiguration.tsx
  admin-dashboard/src/components/monitoring/AlertRouting.tsx
  admin-dashboard/src/components/monitoring/AlertTargets.tsx
  admin-dashboard/src/components/monitoring/AlertsPanel.tsx
  admin-dashboard/src/components/monitoring/EscalationPolicies.tsx
  admin-dashboard/src/components/monitoring/MetricsCharts.tsx
  admin-dashboard/src/components/monitoring/SystemHealthDashboard.tsx
  admin-dashboard/src/components/monitoring/SystemHealthOverview.tsx
  admin-dashboard/src/components/monitoring/SystemResourcesPanel.tsx
  admin-dashboard/src/components/monitoring/SystemStatusIndicators.tsx
  admin-dashboard/src/components/monitoring/TrendAnalysis.tsx
  admin-dashboard/src/services/monitoring.ts
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/api/admin/endpoints/ip_allowlist.py
  backend/app/api/admin/endpoints/security.py
  backend/app/api/routes/admin/monitoring.py
  backend/app/core/monitoring/metrics.py
  backend/app/main.py
  backend/app/models/security/emergency.py
  backend/app/models/security/ip_allowlist.py
  backend/app/models/security/rate_limit.py
  backend/app/models/security/two_factor.py
  backend/app/services/security/brute_force_service.py
  backend/app/services/security/emergency_events_service.py
  backend/app/services/security/emergency_manager.py
  backend/app/services/security/emergency_notification_service.py
  backend/app/services/security/ip_allowlist_service.py
  backend/app/services/security/system_lockout_service.py
  backend/app/services/security/two_factor_service.py
Owners: none

Phase 2A: Admin Security & Infrastructure Foundation
  admin-dashboard/src/components/common/UIComponents.tsx
  admin-dashboard/src/components/shared/ContextAwareUI.tsx
  admin-dashboard/src/styles/context-aware-ui.css
  admin-dashboard/src/utils/permissionUtils.ts
  backend/README.md
  backend/app/core/config/admin_settings.py
  backend/app/core/integration/context_switcher.py
  backend/app/core/notifications/unified_notification_system.py
  backend/app/core/optimization/admin_cache.py
  backend/app/core/optimization/admin_query_optimizer.py
  backend/app/core/optimization/background_tasks.py
  backend/app/core/optimization/cross_tenant_queries.py
  backend/app/main.py
  backend/app/services/admin/auth/dependencies.py
  backend/app/services/admin/notification_integration.py
  backend/app/tests/integration/admin/test_access_control.py
  backend/tests/TESTING.md
  docs/ADMIN_FEATURES_GUIDE.md
  docs/PENETRATION_TESTING_PLAN.md
  docs/SECURITY_AUDIT_FRAMEWORK.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/SECURITY_BEST_PRACTICES.md
  docs/SUPER_ADMIN_IMPLEMENTATION.md
  docs/SUPER_ADMIN_TRAINING.md
Owners: @docs-team

fix: Resolve Vercel configuration conflicts
  admin-dashboard/next.config.js
  admin-dashboard/vercel.json
Owners: none

fix: add 'use client' directive to Next.js App Router pages using React hooks
  frontend/src/app/dashboard/address-book/page.tsx
  frontend/src/app/dashboard/profile/page.tsx
Owners: none

fix: ignore test files during Next.js build to resolve ESLint violations
  frontend/.eslintignore
  frontend/next.config.js
Owners: none

fix: disable ESLint during Next.js builds to resolve 329 linting errors
  frontend/eslint.config.js
  frontend/next.config.js
Owners: none

refactor: convert admin components from Chakra UI to shadcn/ui
  frontend/src/components/admin/SellerOnboardingAdminDashboard.tsx
  frontend/src/components/admin/SellerVerificationDetail.tsx
  frontend/src/components/admin/SellerVerificationList.tsx
  frontend/src/components/admin/SellerVerificationStats.tsx
  frontend/src/components/analytics/AnalyticsDashboard.tsx
Owners: none

docs: add comprehensive UI comparison for Chakra UI to shadcn/ui migration
  docs/ADMIN_UI_COMPARISON.md
Owners: @docs-team

feat(frontend): Convert buyer components from Chakra UI to shadcn/ui
  frontend/src/components/buyer/AddressForm.tsx
  frontend/src/components/buyer/AddressList.tsx
  frontend/src/components/buyer/BuyerProfile.tsx
  frontend/src/components/buyer/NotificationPreferencesForm.tsx
  frontend/src/components/buyer/OrderCancellationForm.tsx
  frontend/src/components/buyer/OrderDetail.tsx
  frontend/src/components/buyer/OrderList.tsx
Owners: none

update admin build
  admin-dashboard/deploy-vercel.sh
Owners: none

🏗️ MAJOR: Fix modular monolithic architecture violation
  .dependency-cruiser.js
  .eslintrc.json
  CODING_RULES.md
  DESIGN_GUIDELINES.md
  README.md
  admin-dashboard/next.config.js
  docs/MODULAR_ARCHITECTURE.md
  docs/UI_CONVERSION_MIGRATION_PLAN.md
  eslint.config.js
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/messages/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/lib/utils.ts
  frontend/src/modules/analytics/components/DateRangeSelector.tsx
  frontend/src/modules/analytics/components/mobile/MobileAnalyticsDashboard.tsx
  frontend/src/modules/analytics/components/mobile/MobileFilterDrawer.tsx
  frontend/src/modules/analytics/components/reports/ScheduledReportForm.tsx
  frontend/src/modules/core/tests/integration/example.integration.test.ts
  frontend/src/modules/core/tests/unit/example.test.ts
  frontend/src/modules/tenant/components/OnboardingChatWizard.test.tsx
  frontend/src/modules/tenant/components/OnboardingWizard.test.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  package-lock.json
  src/app/store/layout.js
  src/app/store/layout.tsx
  src/modules/core/tests/integration/example.integration.test.ts
  src/modules/core/tests/unit/example.test.ts
  src/modules/tenant/components/OnboardingChatWizard.test.tsx
  src/modules/tenant/components/OnboardingWizard.test.tsx
Owners: @docs-team, @core-team, @merchant-pm

feat(team-a): Complete Returns, Shared modules + create shadcn/ui components
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/modules/analytics/components/reports/ScheduledReportForm.tsx
  frontend/src/modules/analytics/components/reports/ScheduledReportsManager.tsx
  frontend/src/modules/analytics/hooks/useRealTimeData.ts
  frontend/src/modules/analytics/types/analytics.ts
  frontend/src/modules/returns/components/ReturnItemSelector.tsx
  frontend/src/modules/returns/components/ReturnReasonSelector.tsx
  frontend/src/modules/returns/components/ReturnStatusTracker.tsx
  frontend/src/modules/returns/components/seller/ReturnApprovalDashboard.tsx
  frontend/src/modules/shared/components/OfflineDataHandler.tsx
  frontend/src/modules/shared/components/PerformanceAuditOverlay.tsx
  frontend/src/modules/shared/components/TouchTargetArea.tsx
  frontend/src/services/ApiService.ts
Owners: @core-team

feat(team-a): Complete Settings + Shipping modules conversion
  frontend/src/modules/analytics/hooks/useRealTimeData.ts
  frontend/src/modules/payment/components/PaymentSettingsForm.tsx
  frontend/src/modules/settings/components/SettingsDashboard.tsx
  frontend/src/modules/settings/components/SettingsForm.tsx
  frontend/src/modules/settings/components/domains/IntegrationsSettings.tsx
  frontend/src/modules/settings/components/domains/NotificationSettings.tsx
  frontend/src/modules/settings/components/domains/PaymentSettings.tsx
  frontend/src/modules/settings/components/domains/StoreSettings.tsx
  frontend/src/modules/shipping/components/ShippingMethodSelector.tsx
Owners: @orders-pm

docs: Add SuperAdmin Security Architecture documentation
  admin-dashboard/src/modules/security/components/SuperAdminSecurityDashboard.tsx
  admin-dashboard/src/modules/security/models/superAdminSecurity.ts
  admin-dashboard/src/modules/security/services/superAdminSecurityService.ts
  backend/app/api/admin/api.py
  backend/app/api/admin/endpoints/super_admin_security.py
  backend/app/core/middleware/domain_specific_cors.py
  backend/app/core/middleware/super_admin_security.py
  backend/app/core/security/clerk.py
  backend/app/core/security/clerk_organizations.py
  backend/app/core/security/dependencies.py
  backend/app/core/security/session/__init__.py
  backend/app/core/security/session/audit.py
  backend/app/core/security/session/manager.py
  backend/app/core/security/session/models.py
  backend/app/core/security/session/storage.py
  backend/app/core/security/session/validator.py
  backend/app/main.py
  backend/app/models/admin/admin_user.py
  backend/app/services/security/super_admin_two_factor_service.py
  docs/architecture.md
Owners: @docs-team

fix: Resolve admin-dashboard TypeScript build errors
  admin-dashboard/DEPLOYMENT.md
  admin-dashboard/deploy-vercel.sh
  admin-dashboard/src/components/ui/alert.tsx
  admin-dashboard/src/modules/security/components/SuperAdminSecurityDashboard.tsx
  admin-dashboard/src/modules/security/services/superAdminSecurityService.ts
  admin-dashboard/vercel.json
Owners: none

fix: Partial fix for frontend TypeScript issues
  DEPLOYMENT_GUIDE.md
  frontend/src/modules/product/components/variants/VariantForm.tsx
Owners: @buyer-pm

🧹 Major cleanup: Remove legacy files and non-essential scripts
  admin-dashboard/.eslintrc.json
  backend/DEEP_CODE_ANALYSIS.md
  backend/alembic/backup/7d459c6de95f_clean_baseline.py
  backend/alembic/bak/3e2ad54cdc4c_proper_schema_relationships.py
  backend/alembic/bak/5a850b2f9d3c_fix_enum_types.py
  backend/alembic/bak/c2409a51f8d1_baseline_schema.py
  backend/alembic/versions_backup/5a850b2f9d3c_fix_enum_types.py
  backend/alembic/versions_backup/7c319e4f82ad_fix_foreign_key_references.py
  backend/alembic/versions_backup/c2409a51f8d1_baseline_schema.py
  backend/app/database.py
  backend/app/db.py
  backend/docs/breaking_changes.md
  backend/scripts/analyze_migration_deps.py
  backend/scripts/diagnose_models.py
  backend/scripts/fix_migration_order.py
  backend/scripts/squash_migrations.py
  backend/scripts/test_dashboard_stats.py
  docs/CLEAN_SOFTWARE.md
  docs/UI_CONVERSION_MIGRATION_PLAN.md
  docs/architecture.md
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/scripts/check-circular-deps.ts
  frontend/scripts/clean-architecture.sh
  frontend/scripts/fix_ts_errors.sh
  frontend/scripts/package.json
  frontend/scripts/restore-architecture.sh
  frontend/scripts/tsconfig.json
  frontend/scripts/verify-architecture.cjs
  frontend/scripts/verify-build.cjs
  frontend/src/components/Navbar.tsx
  frontend/src/components/store/StoreContent.jsx
  frontend/src/lib/cart.ts
  frontend/tests/tsconfig.json
  frontend/tsconfig.eslint.json
  frontend/vercel.json
  scripts/check_tables.py
  scripts/deploy_railway.sh
Owners: @platform-pm, @core-team, @docs-team, @architecture-team

🚀 Fix frontend build issues for Vercel deployment
  frontend/next.config.js
  frontend/src/app/admin/monitoring/page.tsx
  frontend/src/app/store-view/page.tsx
  frontend/src/components/store/ClientStore.tsx
  frontend/src/components/store/StoreContent.tsx
  frontend/src/components/ui/Tabs.tsx
  frontend/src/lib/cart.ts
  frontend/src/modules/analytics/components/filters/AnalyticsQueryBuilder.tsx
  frontend/src/modules/product/components/variants/VariantForm.tsx
  frontend/tsconfig.json
Owners: @buyer-pm

🔧 Fix API route URL encoding issue
  frontend/pages/api/tenants/%5Bid%5D/theme.ts
Owners: none

🚀 MILESTONE: App Router + Real API Integration Complete
  docs/AI_AGENT_CONFIG.md
  frontend/src/app/dashboard/address-book/page.tsx
  frontend/src/app/dashboard/profile/page.tsx
  frontend/src/app/providers.tsx
Owners: @docs-team

🚀 PHASE 1 COMPLETE: App Router Migration with Real API Integration
  admin-dashboard/src/app/page.tsx
  frontend/src/app/api/tenants/[id]/theme/route.ts
  frontend/src/app/api/tenants/by-domain/[domain]/route.ts
  frontend/src/app/api/tenants/by-subdomain/[subdomain]/route.ts
  frontend/src/app/api/tenants/route.ts
  frontend/src/app/api/users/has-tenant/route.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/storefront/page.tsx
  frontend/src/app/onboarding/page.tsx
  frontend/src/app/products/page.tsx
Owners: none

🎉 COMPLETE: Full App Router Migration with Real API Integration
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/tenants/[id]/theme.ts
  frontend/pages/api/tenants/by-domain/[domain].ts
  frontend/pages/api/tenants/by-subdomain/[subdomain].ts
  frontend/pages/api/tenants/index.ts
  frontend/pages/api/users/has-tenant.ts
  frontend/pages/dashboard/storefront/customize.tsx
  frontend/pages/dashboard/storefront/index.tsx
  frontend/pages/dashboard/storefront/layout.tsx
  frontend/pages/dashboard/storefront/theme.tsx
  frontend/pages/onboarding.tsx
  frontend/pages/products/index.tsx
  frontend/src/pages/account/address-book.tsx
  frontend/src/pages/account/index.tsx
  frontend/src/pages/account/notification-preferences.tsx
  frontend/src/pages/account/orders.tsx
  frontend/src/pages/account/payment-methods.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/account/security.tsx
  frontend/src/pages/api/hello.ts
  frontend/src/pages/dashboard.tsx
Owners: @platform-pm

fix: resolve TypeScript errors and improve type safety
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/products/page.tsx
  frontend/src/components/store/ClientStore.tsx
  frontend/src/modules/core/models/dashboard.ts
  frontend/src/modules/product/components/variants/VariantForm.tsx
  frontend/src/modules/product/components/variants/VariantList.tsx
Owners: @core-team, @buyer-pm

fix: enhance webpack and TypeScript configuration for better Vercel module resolution
  frontend/next.config.js
  frontend/tsconfig.json
Owners: none

fix: rename UI component files to camelCase for Linux compatibility
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/vercel.json
Owners: none

fix: simplify vercel.json to resolve function runtime error
  frontend/vercel.json
Owners: none

feat: Complete Unified Super Admin Dashboard implementation
  .github/workflows/security-scan.yml
  README.md
  admin-dashboard/README.md
  admin-dashboard/src/modules/dashboard/components/ActivityFeed.tsx
  admin-dashboard/src/modules/dashboard/components/GlobalSearch.tsx
  admin-dashboard/src/modules/dashboard/components/KPIWidget.tsx
  admin-dashboard/src/modules/dashboard/components/NotificationCenter.tsx
  admin-dashboard/src/modules/dashboard/components/QuickActions.tsx
  admin-dashboard/src/modules/dashboard/components/SecurityOverview.tsx
  admin-dashboard/src/modules/dashboard/components/SystemHealthWidget.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/rbac/components/RoleManagement.tsx
  admin-dashboard/src/modules/security/components/SecurityDashboard.tsx
  backend/README.md
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/api/admin/__init__.py
  backend/app/api/admin/endpoints/activity_feed.py
  backend/app/api/admin/endpoints/dashboard.py
  backend/app/api/admin/endpoints/global_search.py
  backend/app/api/admin/endpoints/rbac.py
  backend/app/api/admin/endpoints/security_dashboard.py
  backend/app/schemas/admin/dashboard.py
  backend/app/schemas/security/security_dashboard.py
  backend/requirements.txt
  backend/tests/security/test_security_regression.py
  docs/CHANGELOG.md
  docs/PHASE_2A_IMPLEMENTATION_COMPLETE.md
  docs/SECURITY_INCIDENT_RESPONSE.md
  docs/UNIFIED_ADMIN_DASHBOARD.md
  docs/architecture.md
Owners: @core-team, @docs-team

fix: Resolve all remaining config import issues
  backend/app/__pycache__/__init__.cpython-312.pyc
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/core/config/__pycache__/settings.cpython-312.pyc
  backend/scripts/create_tables.py
Owners: none

fix: Remove unused imports from ActivityFeed.tsx
  admin-dashboard/src/modules/dashboard/components/ActivityFeed.tsx
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file for ConversationalCommerce
# This file controls who needs to approve changes to specific parts of the codebase
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

#################################################
# ARCHITECTURAL & PLATFORM GOVERNANCE          #
#################################################

# Architecture and configuration files require architecture team review
/frontend/docs/ARCHITECTURE.md @architecture-team
/frontend/docs/architecture/decisions/ @architecture-team
/frontend/.eslintrc* @architecture-team
/frontend/scripts/verify-architecture.js @architecture-team
/frontend/.cascade @architecture-team
/frontend/.aiagentrc @architecture-team

# Module boundaries - core module is most sensitive
/frontend/src/modules/core/ @core-team

#################################################
# PRODUCT MANAGER OWNERSHIP STRUCTURE          #
#################################################

# Ownership Matrix Document
/OWNERSHIP.md @merchant-pm @buyer-pm @conversation-pm @orders-pm @platform-pm

#################################################
# PM1: MERCHANT & TENANT EXPERIENCE            #
#################################################

# Frontend - Merchant Experience
/frontend/src/modules/tenant/ @merchant-pm
/frontend/src/modules/core/**/merchant/ @merchant-pm
/frontend/src/pages/merchant/ @merchant-pm
/frontend/src/pages/onboarding/ @merchant-pm
/frontend/src/pages/settings/ @merchant-pm

# Backend - Tenant & Merchant Models
/backend/app/models/tenant.py @merchant-pm
/backend/app/models/seller_profiles.py @merchant-pm
/backend/app/models/kyc_document.py @merchant-pm
/backend/app/models/kyc_info.py @merchant-pm
/backend/app/api/v1/endpoints/tenant.py @merchant-pm
/backend/app/api/v1/endpoints/merchant.py @merchant-pm
/backend/app/api/v1/endpoints/kyc.py @merchant-pm

#################################################
# PM2: BUYER EXPERIENCE & STOREFRONT           #
#################################################

# Frontend - Buyer Experience
/frontend/src/modules/storefront/ @buyer-pm
/frontend/src/modules/theme/ @buyer-pm
/frontend/src/modules/product/ @buyer-pm
/frontend/src/pages/products/ @buyer-pm
/frontend/src/pages/storefront/ @buyer-pm
/frontend/src/pages/themes/ @buyer-pm

# Backend - Storefront & Theme Models
/backend/app/models/storefront_themes.py @buyer-pm
/backend/app/models/products.py @buyer-pm @orders-pm
/backend/app/api/v1/endpoints/storefront.py @buyer-pm
/backend/app/api/v1/endpoints/themes.py @buyer-pm
/backend/app/api/v1/endpoints/product_display.py @buyer-pm

#################################################
# PM3: CONVERSATION & COMMERCE IN CHAT         #
#################################################

# Frontend - Conversation Experience
/frontend/src/modules/conversation/ @conversation-pm
/frontend/src/pages/chat/ @conversation-pm
/frontend/src/pages/messaging/ @conversation-pm

# Backend - Conversation Processing
/backend/app/conversation/ @conversation-pm
/backend/app/models/conversation_events.py @conversation-pm
/backend/app/api/v1/endpoints/conversation.py @conversation-pm
/backend/app/api/v1/endpoints/messages.py @conversation-pm
/backend/app/api/v1/endpoints/webhooks/ @conversation-pm

#################################################
# PM4: ORDERS, PAYMENTS & FULFILLMENT          #
#################################################

# Frontend - Order & Payment Flow
/frontend/src/modules/order/ @orders-pm
/frontend/src/modules/payment/ @orders-pm
/frontend/src/pages/checkout/ @orders-pm
/frontend/src/pages/orders/ @orders-pm

# Backend - Order & Payment Processing
/backend/app/models/orders.py @orders-pm
/backend/app/models/saved_payment_methods.py @orders-pm
/backend/app/models/address_book.py @orders-pm
/backend/app/services/payment/ @orders-pm
/backend/app/services/shipping/ @orders-pm
/backend/app/api/v1/endpoints/orders.py @orders-pm
/backend/app/api/v1/endpoints/payments.py @orders-pm
/backend/app/api/v1/endpoints/shipping.py @orders-pm
/backend/app/api/v1/endpoints/address_book.py @orders-pm

#################################################
# PM5: MONITORING, ANALYTICS & ENFORCEMENT     #
#################################################

# Frontend - Monitoring & Analytics
/frontend/src/modules/monitoring/ @platform-pm
/frontend/src/modules/dashboard/ @platform-pm
/frontend/src/pages/dashboard.tsx @platform-pm
/frontend/src/pages/admin/ @platform-pm

# Backend - Analytics & Enforcement
/backend/app/api/v1/endpoints/dashboard.py @platform-pm
/backend/app/api/v1/endpoints/monitoring.py @platform-pm
/backend/app/api/v1/endpoints/admin/ @platform-pm
/backend/app/models/complaints.py @platform-pm

#################################################
# CROSS-CUTTING & SHARED OWNERSHIP             #
#################################################

# Cross-domain features require multiple approvals
/frontend/src/modules/cart/ @buyer-pm @orders-pm
/frontend/src/modules/shared/ @core-team

# Database migrations require platform team approval
/backend/alembic/ @platform-pm @core-team
/backend/app/db/ @platform-pm @core-team

# CI/CD configuration
/.github/workflows/ @core-team

# Documentation requires relevant PM approval plus docs team
/docs/ @docs-team
