Repository kessotolo/ConversationalCommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @architecture-team, @core-team, @merchant-pm, @buyer-pm, @conversation-pm, @orders-pm, @platform-pm, @docs-team

Fix TypeScript error in ActivityFeed: ensure all code paths return a value in useEffect
  admin-dashboard/src/modules/dashboard/components/ActivityFeed.tsx
Owners: none

feat: Complete Phase 2C - Tenant, Feature, and Context Management
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/components/ui/avatar.tsx
  admin-dashboard/src/components/ui/checkbox.tsx
  admin-dashboard/src/components/ui/progress.tsx
  admin-dashboard/src/components/ui/scroll-area.tsx
  admin-dashboard/src/components/ui/separator.tsx
  admin-dashboard/src/modules/context/components/ContextManagement.tsx
  admin-dashboard/src/modules/dashboard/components/ActivityFeed.tsx
  admin-dashboard/src/modules/dashboard/components/GlobalSearch.tsx
  admin-dashboard/src/modules/dashboard/components/KPIWidget.tsx
  admin-dashboard/src/modules/dashboard/components/NotificationCenter.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/feature-flags/components/FeatureFlagManagement.tsx
  admin-dashboard/src/modules/security/components/ImpersonationManagement.tsx
  admin-dashboard/src/modules/tenant/components/TenantControlCenter.tsx
  admin-dashboard/src/modules/tenant/components/TenantDetails.tsx
Owners: none

feat: Complete Phase 2D - Unified Super Admin Dashboard
  admin-dashboard/src/modules/compliance/components/ComplianceDashboard.tsx
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/emergency/components/EmergencyControlCards.tsx
  admin-dashboard/src/modules/emergency/components/EmergencyControls.tsx
  admin-dashboard/src/modules/emergency/components/EmergencyStatusCard.tsx
  admin-dashboard/src/modules/emergency/components/IncidentResponsePanel.tsx
  admin-dashboard/src/modules/emergency/components/ServiceManagementPanel.tsx
  admin-dashboard/src/modules/monitoring/components/AlertConfiguration.tsx
  admin-dashboard/src/modules/monitoring/components/ComplianceDashboard.tsx
  admin-dashboard/src/modules/monitoring/components/EmergencyControls.tsx
  admin-dashboard/src/modules/monitoring/components/MetricsCharts.tsx
  admin-dashboard/src/modules/monitoring/components/ServiceHistory.tsx
  admin-dashboard/src/modules/monitoring/components/SystemLogsViewer.tsx
  admin-dashboard/src/modules/monitoring/components/SystemMonitoring.tsx
  admin-dashboard/src/modules/monitoring/components/UnifiedDashboard.tsx
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/api/admin/endpoints/security_dashboard.py
  backend/app/core/config.py
  backend/app/core/config/__init__.py
  backend/app/core/monitoring/metrics.py
  backend/app/main.py
  backend/app/middleware/tenant.py
Owners: none

docs: Update documentation for Phase 2D completion
  README.md
  docs/CHANGELOG.md
  docs/PHASE_2D_IMPLEMENTATION_COMPLETE.md
  docs/UNIFIED_ADMIN_DASHBOARD.md
Owners: @docs-team

Phase 2E: Tests, documentation, feature flags, and authentication improvements
  admin-dashboard/docs/ADMIN_GUIDE.md
  admin-dashboard/docs/FEATURE_FLAGS.md
  admin-dashboard/docs/ONBOARDING.md
  admin-dashboard/docs/SECURITY_AUDIT.md
  admin-dashboard/middleware.ts
  admin-dashboard/next.config.js
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/app/layout.tsx
  admin-dashboard/src/app/page.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/feature-flags/components/FeatureFlagManagement.tsx
  admin-dashboard/src/modules/tenant/components/TenantImpersonation.tsx
  admin-dashboard/tests/integration/auth.test.tsx
  admin-dashboard/tests/integration/feature-flags.test.tsx
  admin-dashboard/tests/integration/impersonation.test.tsx
Owners: none

feat: Complete SuperAdmin UI redesign and merchant subdomain system
  README.md
  admin-dashboard/middleware.ts
  admin-dashboard/next-env.d.ts
  admin-dashboard/next.config.js
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/app/globals.css
  admin-dashboard/src/app/page.tsx
  admin-dashboard/src/modules/compliance/components/ComplianceDashboard.tsx
  admin-dashboard/src/modules/context/components/ContextManagement.tsx
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/KPIWidget.tsx
  admin-dashboard/src/modules/dashboard/components/QuickActions.tsx
  admin-dashboard/src/modules/dashboard/components/SecurityOverview.tsx
  admin-dashboard/src/modules/dashboard/components/SystemHealthWidget.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/core/config/__pycache__/settings.cpython-312.pyc
  backend/app/core/config/__pycache__/settings.cpython-313.pyc
  backend/app/core/config/settings.py
  backend/app/utils/merchant_id_generator.py
  backend/asgi.py
  backend/server.py
  docs/MERCHANT_ID_GENERATION.md
  docs/MERCHANT_SUBDOMAIN_GUIDE.md
  frontend/components/ImageUploader.tsx
  frontend/components/ProductForm.tsx
  frontend/components/ProductList.tsx
  frontend/components/TokenSaver.tsx
  frontend/middleware.ts
  frontend/src/config.ts
  package.json
  pyproject.toml
  railway.toml
Owners: @docs-team

fix: Resolve CSS build error - replace invalid border-border class with border-gray-200
  admin-dashboard/src/app/globals.css
Owners: none

fix: Remove custom CSS properties and use standard Tailwind classes to resolve build errors
  admin-dashboard/src/app/globals.css
Owners: none

fix: Make Clerk authentication keys optional with default None values to prevent Pydantic validation errors
  backend/app/core/config/settings.py
Owners: none

fix: Use get_database_url property in session.py to ensure async driver connection
  backend/app/core/db/session.py
Owners: none

fix: Ensure database URL always uses asyncpg driver regardless of environment
  backend/app/core/db/session.py
Owners: none

feat: Complete admin dashboard lint and type-check cleanup
  admin-dashboard/.eslintrc.json
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/components/ui/form.tsx
  admin-dashboard/src/components/ui/input.tsx
  admin-dashboard/src/components/ui/label.tsx
  admin-dashboard/src/components/ui/select.tsx
  admin-dashboard/src/components/ui/skeleton.tsx
  admin-dashboard/src/components/ui/textarea.tsx
  admin-dashboard/src/modules/compliance/components/ComplianceDashboard.tsx
  admin-dashboard/src/modules/context/components/ContextManagement.tsx
  admin-dashboard/src/modules/dashboard/components/ActivityFeed.tsx
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/GlobalSearch.tsx
  admin-dashboard/src/modules/dashboard/components/NotificationCenter.tsx
  admin-dashboard/src/modules/dashboard/components/QuickActions.tsx
  admin-dashboard/src/modules/dashboard/components/SecurityOverview.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/emergency/components/EmergencyStatusCard.tsx
  admin-dashboard/src/modules/feature-flags/components/FeatureFlagManagement.tsx
  admin-dashboard/src/modules/monitoring/components/AlertConfiguration.tsx
  admin-dashboard/src/modules/monitoring/components/ComplianceDashboard.tsx
  admin-dashboard/src/modules/monitoring/components/EmergencyControls.tsx
  admin-dashboard/src/modules/monitoring/components/MetricsCharts.tsx
  admin-dashboard/src/modules/monitoring/components/ServiceHistory.tsx
  admin-dashboard/src/modules/monitoring/components/SystemLogsViewer.tsx
  admin-dashboard/src/modules/monitoring/components/SystemMonitoring.tsx
  admin-dashboard/src/modules/monitoring/components/UnifiedDashboard.tsx
  admin-dashboard/src/modules/rbac/components/RoleManagement.tsx
  admin-dashboard/src/modules/security/components/ImpersonationManagement.tsx
  admin-dashboard/src/modules/security/components/SecurityDashboard.tsx
  admin-dashboard/src/modules/security/components/SuperAdminSecurityDashboard.tsx
  admin-dashboard/src/modules/tenant/components/TenantControlCenter.tsx
  admin-dashboard/src/modules/tenant/components/TenantDetails.tsx
  admin-dashboard/src/modules/tenant/components/TenantImpersonation.tsx
Owners: none

fix: Add missing dashboard route and navigation
  admin-dashboard/src/app/dashboard/page.tsx
  admin-dashboard/src/components/Navigation.tsx
Owners: none

fix: Add Clerk publishable key validation and error handling
  admin-dashboard/README.md
  admin-dashboard/src/app/layout.tsx
Owners: none

Fix TypeScript and Python errors, add missing dependencies, and implement theme builder
  README.md
  backend/README.md
  backend/app/conftest.py
  backend/app/core/security/clerk_multi_org.py
  backend/app/db/deps.py
  backend/app/middleware/domain_verification.py
  backend/requirements.txt
  backend/tests/fixtures/api.py
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/MIGRATION_GUIDE.md
  frontend/src/app/layout.tsx
  frontend/src/components/ThemeBuilder/ColorPicker.tsx
  frontend/src/components/ThemeBuilder/DevicePreview.tsx
  frontend/src/components/ThemeBuilder/ThemeBuilder.tsx
  frontend/src/components/ThemeBuilder/ThemePreview.tsx
  frontend/src/components/ThemeBuilder/TypographySelector.tsx
  frontend/src/config.ts
  frontend/src/hooks/use-toast.ts
  frontend/src/modules/theme/api/themeBuilder.ts
  frontend/src/modules/theme/models/theme-builder.ts
Owners: @platform-pm, @core-team, @docs-team, @buyer-pm

Implement storefront editor authorization with orchestration pattern
  backend/app/api/v1/endpoints/storefront_editor.py
  backend/app/api/v1/endpoints/storefront_editor_components.py
  backend/app/api/v1/endpoints/storefront_page_layout.py
  backend/app/schemas/storefront/page_layout.py
  backend/app/services/storefront/page_layout_orchestrator.py
  backend/app/services/storefront/page_layout_service.py
Owners: none

🔧 Fix all 11 confirmed technical debt issues
  backend/app/api/admin/__init__.py
  backend/app/api/v1/endpoints/ai_config.py
  backend/app/api/v1/endpoints/onboarding.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/core/behavior/behavior_analysis.py
  backend/app/core/monitoring/system_metrics.py
  backend/app/core/notifications/unified_notification_system.py
  backend/app/models/notifications/admin_notification.py
  backend/app/services/audit_service.py
  backend/app/services/notifications/notification_storage_service.py
  backend/app/services/security/emergency_notification_service.py
  backend/app/tasks.py
  backend/migrations/versions/tenant_model_migration.py
  docs/PHASE_2A_IMPLEMENTATION_COMPLETE.md
Owners: @orders-pm, @docs-team

Fix: Remove unused imports, fix type errors, and resolve all linter issues in admin-dashboard analytics and tenants pages. Implementation-first approach followed.
  admin-dashboard/src/app/dashboard/analytics/page.tsx
  admin-dashboard/src/app/dashboard/monitoring/health/page.tsx
  admin-dashboard/src/app/dashboard/orders/page.tsx
  admin-dashboard/src/app/dashboard/tenants/page.tsx
  admin-dashboard/src/app/dashboard/users/page.tsx
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
Owners: none

chore: update Content-Security-Policy to allow Clerk and Vercel Live scripts for SuperAdmin login
  admin-dashboard/vercel.json
Owners: none

fix: Use Clerk JWT for admin dashboard API, update API URL, and improve error handling for real API integration
  admin-dashboard/src/components/ui/tooltip.tsx
  admin-dashboard/src/lib/api.ts
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
Owners: none

Fix frontend order service test mocks and TypeScript types
  frontend/src/modules/order/tests/unit/OrderBulkOperationsService.test.ts
  frontend/src/modules/order/tests/unit/OrderQueryService.test.ts
  frontend/src/modules/order/tests/unit/OrderStatusService.test.ts
Owners: @orders-pm

Fix CORS configuration and update frontend port handling
  backend/app/api/routers/tenant.py
  backend/app/core/middleware/domain_specific_cors.py
  backend/app/schemas/tenant.py
  frontend/middleware.ts
  frontend/src/app/api/tenants/route.ts
  frontend/src/app/api/users/has-tenant/route.ts
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/sign-in/page.tsx
  frontend/src/app/sign-up/[[...sign-up]]/page.tsx
  frontend/src/app/sign-up/page.tsx
  frontend/src/app/store-setup/page.tsx
  frontend/src/modules/order/tests/components/BulkOrderActions.test.tsx
  frontend/src/modules/order/tests/components/CheckoutForm.test.tsx
  frontend/src/modules/order/tests/components/OrderFilterBar.test.tsx
  frontend/src/modules/order/tests/components/OrderStatusBadge.test.tsx
  frontend/src/modules/order/tests/components/OrderTracking.test.tsx
  frontend/src/modules/order/tests/components/OrdersTable.test.tsx
  frontend/src/modules/order/tests/unit/OrderBulkValidationService.test.ts
  frontend/src/modules/order/tests/unit/OrderCsvService.test.ts
Owners: @orders-pm

Fix import paths in main.py by removing backend. prefix
  backend/app/core/middleware/domain_specific_cors.py
  backend/app/main.py
Owners: none

Fix build error: remove unused useAuth import from admin dashboard api.ts
  admin-dashboard/src/lib/api.ts
Owners: none

Fix build error: remove unused 'to' variable from DashboardOverview.tsx
  admin-dashboard/src/modules/dashboard/components/DashboardOverview.tsx
Owners: none

Fix backend import path issues for deployment by changing 'from backend.app' to 'from app' to match container environment
  backend/app/core/monitoring/metrics.py
  backend/asgi.py
  backend/clean_start.py
  backend/wsgi.py
Owners: none

Fix import paths in backend scripts to use relative imports for deployment compatibility
  backend/scripts/create_tables.py
  backend/scripts/regenerate_baseline.py
  backend/scripts/regenerate_clean_baseline.py
Owners: none

Fix frontend issues and security improvements
  admin-dashboard/src/modules/dashboard/components/UnifiedDashboard.tsx
  backend/app/api/v1/endpoints/dashboard.py
  frontend/src/app/page.tsx
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/sign-up/[[...sign-up]]/page.tsx
  frontend/src/app/store-setup/page.tsx
  frontend/src/contexts/TenantContext.tsx
  frontend/src/lib/api.ts
Owners: @platform-pm

Setup environment configuration and deployment scripts for dev/uat/prod workflow
  alembic/env.py
  backend/app/core/config/environments.py
  backend/docs/DEPLOYMENT_GUIDE.md
  backend/env.development
  backend/env.production
  backend/env.uat
  backend/scripts/deploy.sh
  backend/scripts/manage_branches.sh
  docs/API_CONTRACT_SPECIFICATIONS.md
  docs/AUTHENTICATION_FLOW_COORDINATION.md
  docs/TRACK_COORDINATION_PLAN.md
  docs/URL_STRUCTURE_ALIGNMENT.md
  frontend/src/app/api/context/merchant-id/route.ts
  frontend/src/app/auth/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/auth/sign-up/[[...sign-up]]/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/store-setup/page.tsx
  frontend/src/app/store/[merchantId]/dashboard/layout.tsx
  frontend/src/app/store/[merchantId]/dashboard/page.tsx
  frontend/src/app/store/[merchantId]/layouts/AdminLayout.tsx
  frontend/src/components/AuthRedirect.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/NetworkStatusIndicator.tsx
  frontend/src/components/Skeletons/CardSkeleton.tsx
  frontend/src/components/Skeletons/TableSkeleton.tsx
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContext.tsx
  frontend/src/contexts/TenantContext.tsx
  frontend/src/hooks/useOfflineData.ts
  frontend/src/middleware.ts
  frontend/src/utils/routes.ts
  railway.toml
Owners: @docs-team

Complete environment setup: deployment scripts, environment configs, and branch management
  admin-dashboard/tsconfig.tsbuildinfo
  backend/scripts/deploy.sh
  backend/scripts/manage_branches.sh
Owners: none

Add environment setup guide and complete documentation
  docs/ENVIRONMENT_SETUP_GUIDE.md
Owners: @docs-team

Update branch strategy to use maincopy as production branch
  backend/docs/DEPLOYMENT_GUIDE.md
  backend/scripts/manage_branches.sh
  docs/ENVIRONMENT_SETUP_GUIDE.md
Owners: @docs-team

Fix build errors: add use client directive and fix JSX syntax
  frontend/src/app/store/[merchantId]/dashboard/page.tsx
  frontend/src/contexts/TenantContext.tsx
Owners: none

Fix import errors in dashboard endpoints - remove non-existent SalesMetrics and CustomerMetrics
  backend/app/api/v1/admin/endpoints/dashboard.py
Owners: none

feat: Implement real admin endpoints for products, orders, analytics, settings, and team_members
  backend/app/api/v1/admin/endpoints/analytics.py
  backend/app/api/v1/admin/endpoints/orders.py
  backend/app/api/v1/admin/endpoints/products.py
  backend/app/api/v1/admin/endpoints/settings.py
  backend/app/api/v1/admin/endpoints/team_members.py
  backend/app/api/v1/storefront/__init__.py
  backend/app/schemas/settings.py
  frontend/src/components/NetworkStatusIndicator.tsx
  frontend/src/components/products/ProductCard.tsx
  frontend/src/modules/order/components/OrdersTable.tsx
  frontend/src/modules/order/models/order.ts
  frontend/src/utils/routes.ts
Owners: @orders-pm

Complete Track A & B Phase 3: Performance Optimization & Advanced Analytics
  alembic/versions/20250102_track_a_phase_3_security_enhancements.py
  backend/app/api/v1/endpoints/enhanced_domain.py
  backend/app/api/v1/endpoints/merchant_security.py
  backend/app/models/security/merchant_security.py
  backend/app/models/tenant.py
  backend/app/services/domain/enhanced_domain_service.py
  backend/app/services/monitoring/alert_manager.py
  backend/app/services/monitoring/business_intelligence.py
  backend/app/services/monitoring/dashboard_builder.py
  backend/app/services/monitoring/dashboard_orchestrator.py
  backend/app/services/monitoring/real_time_metrics.py
  backend/app/services/performance/background_workers.py
  backend/app/services/performance/cache_manager.py
  backend/app/services/performance/metrics_collector.py
  backend/app/services/performance/performance_orchestrator.py
  backend/app/services/performance/query_optimizer.py
  backend/app/services/security/enhanced_audit_service.py
  backend/app/services/security/merchant_security_policy_service.py
  backend/tests/services/test_monitoring_service.py
  backend/tests/services/test_performance_service.py
  docs/TRACK_A_PHASE_3_IMPLEMENTATION.md
  docs/TRACK_COORDINATION_PLAN.md
  frontend/middleware.ts
  frontend/src/app/page.tsx
  frontend/src/modules/analytics/components/AnalyticsOrchestrator.tsx
  frontend/src/modules/analytics/components/RevenueAnalytics.tsx
  frontend/src/modules/checkout/components/CheckoutCartReview.tsx
  frontend/src/modules/checkout/components/CheckoutConfirmation.tsx
  frontend/src/modules/checkout/components/CheckoutOrchestrator.tsx
  frontend/src/modules/checkout/components/CheckoutPaymentForm.tsx
  frontend/src/modules/checkout/components/CheckoutShippingForm.tsx
  frontend/src/services/CacheManagerService.ts
  frontend/src/services/ProgressiveWebAppService.ts
Owners: @merchant-pm, @docs-team

.github/CODEOWNERS:

# CODEOWNERS file for ConversationalCommerce
# This file controls who needs to approve changes to specific parts of the codebase
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

#################################################
# ARCHITECTURAL & PLATFORM GOVERNANCE          #
#################################################

# Architecture and configuration files require architecture team review
/frontend/docs/ARCHITECTURE.md @architecture-team
/frontend/docs/architecture/decisions/ @architecture-team
/frontend/.eslintrc* @architecture-team
/frontend/scripts/verify-architecture.js @architecture-team
/frontend/.cascade @architecture-team
/frontend/.aiagentrc @architecture-team

# Module boundaries - core module is most sensitive
/frontend/src/modules/core/ @core-team

#################################################
# PRODUCT MANAGER OWNERSHIP STRUCTURE          #
#################################################

# Ownership Matrix Document
/OWNERSHIP.md @merchant-pm @buyer-pm @conversation-pm @orders-pm @platform-pm

#################################################
# PM1: MERCHANT & TENANT EXPERIENCE            #
#################################################

# Frontend - Merchant Experience
/frontend/src/modules/tenant/ @merchant-pm
/frontend/src/modules/core/**/merchant/ @merchant-pm
/frontend/src/pages/merchant/ @merchant-pm
/frontend/src/pages/onboarding/ @merchant-pm
/frontend/src/pages/settings/ @merchant-pm

# Backend - Tenant & Merchant Models
/backend/app/models/tenant.py @merchant-pm
/backend/app/models/seller_profiles.py @merchant-pm
/backend/app/models/kyc_document.py @merchant-pm
/backend/app/models/kyc_info.py @merchant-pm
/backend/app/api/v1/endpoints/tenant.py @merchant-pm
/backend/app/api/v1/endpoints/merchant.py @merchant-pm
/backend/app/api/v1/endpoints/kyc.py @merchant-pm

#################################################
# PM2: BUYER EXPERIENCE & STOREFRONT           #
#################################################

# Frontend - Buyer Experience
/frontend/src/modules/storefront/ @buyer-pm
/frontend/src/modules/theme/ @buyer-pm
/frontend/src/modules/product/ @buyer-pm
/frontend/src/pages/products/ @buyer-pm
/frontend/src/pages/storefront/ @buyer-pm
/frontend/src/pages/themes/ @buyer-pm

# Backend - Storefront & Theme Models
/backend/app/models/storefront_themes.py @buyer-pm
/backend/app/models/products.py @buyer-pm @orders-pm
/backend/app/api/v1/endpoints/storefront.py @buyer-pm
/backend/app/api/v1/endpoints/themes.py @buyer-pm
/backend/app/api/v1/endpoints/product_display.py @buyer-pm

#################################################
# PM3: CONVERSATION & COMMERCE IN CHAT         #
#################################################

# Frontend - Conversation Experience
/frontend/src/modules/conversation/ @conversation-pm
/frontend/src/pages/chat/ @conversation-pm
/frontend/src/pages/messaging/ @conversation-pm

# Backend - Conversation Processing
/backend/app/conversation/ @conversation-pm
/backend/app/models/conversation_events.py @conversation-pm
/backend/app/api/v1/endpoints/conversation.py @conversation-pm
/backend/app/api/v1/endpoints/messages.py @conversation-pm
/backend/app/api/v1/endpoints/webhooks/ @conversation-pm

#################################################
# PM4: ORDERS, PAYMENTS & FULFILLMENT          #
#################################################

# Frontend - Order & Payment Flow
/frontend/src/modules/order/ @orders-pm
/frontend/src/modules/payment/ @orders-pm
/frontend/src/pages/checkout/ @orders-pm
/frontend/src/pages/orders/ @orders-pm

# Backend - Order & Payment Processing
/backend/app/models/orders.py @orders-pm
/backend/app/models/saved_payment_methods.py @orders-pm
/backend/app/models/address_book.py @orders-pm
/backend/app/services/payment/ @orders-pm
/backend/app/services/shipping/ @orders-pm
/backend/app/api/v1/endpoints/orders.py @orders-pm
/backend/app/api/v1/endpoints/payments.py @orders-pm
/backend/app/api/v1/endpoints/shipping.py @orders-pm
/backend/app/api/v1/endpoints/address_book.py @orders-pm

#################################################
# PM5: MONITORING, ANALYTICS & ENFORCEMENT     #
#################################################

# Frontend - Monitoring & Analytics
/frontend/src/modules/monitoring/ @platform-pm
/frontend/src/modules/dashboard/ @platform-pm
/frontend/src/pages/dashboard.tsx @platform-pm
/frontend/src/pages/admin/ @platform-pm

# Backend - Analytics & Enforcement
/backend/app/api/v1/endpoints/dashboard.py @platform-pm
/backend/app/api/v1/endpoints/monitoring.py @platform-pm
/backend/app/api/v1/endpoints/admin/ @platform-pm
/backend/app/models/complaints.py @platform-pm

#################################################
# CROSS-CUTTING & SHARED OWNERSHIP             #
#################################################

# Cross-domain features require multiple approvals
/frontend/src/modules/cart/ @buyer-pm @orders-pm
/frontend/src/modules/shared/ @core-team

# Database migrations require platform team approval
/backend/alembic/ @platform-pm @core-team
/backend/app/db/ @platform-pm @core-team

# CI/CD configuration
/.github/workflows/ @core-team

# Documentation requires relevant PM approval plus docs team
/docs/ @docs-team
